@import "vars";
@import "base";
@import "grid";

/*====================*/
/* General Things*/
/*====================*/
.btn-primary {
	background: rgba($accent-color, 0.2);
	color: $accent-color;
}
.padding {
	padding: 30px 0;
}

/*====================*/
/* Primary Wrapper*/
/*====================*/
.primary-wrapper {
	background: $primary-color;
	min-height: 100vh;
}
.brand {
	font-size: 72px;
	font-weight: 400;
	color: $heading-color;
	font-family: $font-family2;
	position: absolute;
	left: 50%;
	top: 30px;
	transform: translateX(-50%);
	z-index: 1;
}
.hero-tag {
	font-size: 48px;
	color: $text-color2;
	line-height: 72px;
	margin-top: 70px;
	font-weight: 400;
	position: relative;
	z-index: 2;
	span {
		color: $accent-color;
	}
}
.form-group {
	background-color: #0b131d;
	padding: 50px 40px;
	margin-top: 20px;
	border-radius: 4px;
	.form-control {
		background-color: $heading-color;
		height: 50px;
		margin: 15px 0;
		color: $text-color;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.form-control::placeholder {
		color: $text-color;
	}
	.select {
		-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: url('/assets/caret-down.png') no-repeat;
    background-position: 97%, 25px;
    background-color: $heading-color;
	}
	.btn {
		width: 100%;
		height: 50px;
		margin-top: 30px;
		border-radius: 4px;
	}
}

/*====================*/
/* Dashboard Wrapper*/
/*====================*/
.header {
	padding: 20px 0;
}
.nav {
	@extend %flex;
}
.nav__item {
	@extend %flex;
}
